.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 15%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

main {
  height: 50vh;
  width: 60%;
  background-color: white;
  display: flex;
  border-radius: 10px;
}

.drawer {
  height: 50vh;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content {
  padding: 30px;
}

.bottom {
  display: flex;
  margin-top: 5%;
  align-items: center;
}

.michelle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 3%;
}

.share {
  width: 50px;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  padding: 10px;
  margin-left: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.info h5 {
  color: hsl(217, 19%, 35%);
}

.info .date {
  margin-top: 3px;
  color: hsl(214, 17%, 51%);
  font-size: 14px;
}

.content h2 {
  margin-bottom: 25px;
  color: hsl(217, 19%, 35%);
  font-size: 28px;
}

.content p {
  color: hsl(214, 17%, 51%);
  font-size: 18px;
}

.share:hover {
  background-color: hsl(217, 19%, 35%);
  transition: ease-in 0.2s all;
}

.pop-up {
  width: 300px;
  padding: 10px 30px;
  background-color: hsl(217, 19%, 35%);
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-bottom: 7%;
  margin-left: 20%;
  border-radius: 10px;
  align-items: center;
}
.pop-up > p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
}
.pop-up > img {
  width: 25px;
  height: 25px;
}

.pop-up::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid hsl(217, 19%, 35%);
}

.hidden {
  visibility: hidden;
}
